In [1]:
import json
import pandas as pd

spot_df = pd.read_csv("./spot.csv")
history_df = pd.read_csv("./history.csv", parse_dates=["started_at", "ended_at"])
trip_df = pd.read_csv("./trip.csv", parse_dates=["created_at"])
user_df = pd.read_csv("./user.csv")

spot_df["spot_types"] = spot_df["spot_types"].map(json.loads)

spot_df

,spot_id,spot_name,lat,lon,count,spot_types,is_parking
0,0,奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域,34.731630,135.734690,16466,"[university, point_of_interest, establishment]",True
1,1,学際融合領域研究棟２号館,34.732260,135.732430,5665,"[university, point_of_interest, establishment]",True
2,2,物質創成科学領域E棟,34.730270,135.733930,5268,"[university, point_of_interest, establishment]",True
3,3,学際融合領域研究棟1号館,34.730930,135.735370,4056,"[university, point_of_interest, establishment]",True
4,4,学研奈良登美ヶ丘駅,34.726800,135.754380,3829,"[spa, point_of_interest, establishment]",True
...,...,...,...,...,...,...,...
1362,1362,あずやん株式会社 本社,34.706371,135.698295,1,"[point_of_interest, establishment]",False
1363,1363,こどものアトリエやまとぐみ,34.727695,135.727906,1,"[point_of_interest, establishment]",False
1364,1364,ナチュラルゴルフレッスンスタジオ,34.712178,135.747856,1,"[health, point_of_interest, establishment]",False
1365,1365,ラフェマリカ,34.717390,135.786221,1,"[bakery, store, food, point_of_interest, estab...",False
1366,1366,黒添西池,34.762436,135.711761,1,"[park, point_of_interest, establishment]",False

In [2]:
history_df

,history_id,started_at,ended_at,from_parking_lot,to_parking_lot,car,passengers_count,distance,user_id
0,202304_0,2023-04-01 02:13:00,2023-04-01 02:25:00,NAIST,NAIST,LEAF (STAFF ONLY),1,-,130
1,202304_1,2023-04-01 05:44:00,2023-04-01 16:35:00,NAIST,NAIST,iMiev02,1,22.751227261674426,140
2,202304_2,2023-04-01 07:55:00,2023-04-01 10:38:00,NAIST,KEIHANA,LEAF (STAFF ONLY),2,52.975722618365566,122
3,202304_3,2023-04-01 09:01:00,2023-04-01 11:24:00,NAIST,STATION,iMiev01,1,2.567993419320244,149
4,202304_4,2023-04-01 10:41:00,2023-04-01 13:18:00,KEIHANA,KEIHANA,LEAF (STAFF ONLY),1,1.2047719580799798,122
...,...,...,...,...,...,...,...,...,...
3367,202403_76,2024-03-30 22:00:00,2024-03-31 00:14:00,NAIST,NAIST,SAKURA1,2,0.0,176
3368,202403_77,2024-03-31 02:00:00,2024-03-31 02:54:00,NAIST,NAIST,SAKURA1,1,0.0,182
3369,202403_78,2024-03-31 07:01:00,2024-03-31 19:34:00,NAIST,NAIST,SAKURA1,3,0.0,197
3370,202403_79,2024-03-31 20:06:00,2024-03-31 21:06:00,NAIST,NAIST,SAKURA1,1,0.0,118
3371,202403_80,2024-03-31 21:42:00,2024-03-31 23:03:00,NAIST,NAIST,SAKURA1,0,0.0,192

In [3]:
print(trip_df.iloc[0]["created_at"].hour)

trip_df

6

,created_at,lat,lon,car,user_id,spot_id,history_id
0,2023-04-01 06:20:00,34.731593,135.734878,iMiev02,140,0,202304_1
1,2023-04-01 07:20:00,34.731593,135.734878,iMiev02,140,0,202304_1
2,2023-04-01 08:20:00,34.731593,135.734878,iMiev02,140,0,202304_1
3,2023-04-01 09:20:00,34.731593,135.734878,iMiev02,140,0,202304_1
4,2023-04-01 09:32:00,35.050930,135.552915,LEAF (STAFF ONLY),122,1280,202304_2
...,...,...,...,...,...,...,...
13776,2024-02-29 19:51:00,34.714703,135.772463,SAKURA,194,751,202402_68
13777,2024-02-29 19:54:00,34.718375,135.772172,SAKURA,194,41,202402_68
13778,2024-02-29 20:37:00,34.731574,135.735002,SAKURA,194,0,202402_68
13779,2024-02-29 20:45:00,34.731618,135.734950,SAKURA,194,0,202402_68
13780,2024-02-29 20:49:00,34.731618,135.734946,SAKURA,194,0,202402_68

In [4]:
user_df

     user_id user_type
0          1     staff
1          2     staff
2          3     staff
3          4     staff
4          5     staff
..       ...       ...
238      234   student
239      235   student
240      236   student
241      237   student
242      238   student

[243 rows x 2 columns]

In [5]:
"""必要なデータ(trip_df, spot_df)を結合し，データの整形"""
merged_df1 = pd.merge(trip_df, spot_df, on="spot_id")[["user_id", "spot_id", "spot_name", "created_at", "car", "is_parking"]]
merged_df1

,user_id,spot_id,spot_name,created_at,car,is_parking
0,140,0,奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域,2023-04-01 06:20:00,iMiev02,True
1,140,0,奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域,2023-04-01 07:20:00,iMiev02,True
2,140,0,奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域,2023-04-01 08:20:00,iMiev02,True
3,140,0,奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域,2023-04-01 09:20:00,iMiev02,True
4,149,0,奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域,2023-04-01 09:47:00,iMiev01,True
...,...,...,...,...,...,...
13776,163,181,アートスタジオ,2024-02-28 13:12:00,SAKURA,False
13777,145,442,草々,2024-02-28 15:31:00,SAKURA,False
13778,194,194,生駒郵便局集荷,2024-02-29 15:28:00,SAKURA,False
13779,194,751,はま寿司 奈良押熊店,2024-02-29 19:01:00,SAKURA,False
13780,194,751,はま寿司 奈良押熊店,2024-02-29 19:51:00,SAKURA,False

In [6]:
"""必要なデータ(user_df)を追加結合"""
merged_df2 = pd.merge(merged_df1, user_df, on=["user_id"])
merged_df2

,user_id,spot_id,spot_name,created_at,car,is_parking,user_type
0,140,0,奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域,2023-04-01 06:20:00,iMiev02,True,student
1,140,0,奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域,2023-04-01 07:20:00,iMiev02,True,student
2,140,0,奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域,2023-04-01 08:20:00,iMiev02,True,student
3,140,0,奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域,2023-04-01 09:20:00,iMiev02,True,student
4,140,0,奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域,2023-04-01 15:16:00,iMiev02,True,student
...,...,...,...,...,...,...,...
13879,54,922,餃子の王将 久宝寺店,2023-06-14 18:00:00,LEAF (STAFF ONLY),False,staff
13880,167,5,株式会社ATR-Promotions,2023-05-15 15:52:00,BMW (STAFF ONLY),True,staff
13881,167,5,株式会社ATR-Promotions,2023-05-15 15:52:00,BMW (STAFF ONLY),True,staff
13882,167,1257,山城木津郵便局 集荷,2023-05-15 15:27:00,BMW (STAFF ONLY),False,staff
13883,167,1257,山城木津郵便局 集荷,2023-05-15 15:27:00,BMW (STAFF ONLY),False,staff

In [7]:
"""データの整形(条件で絞り込む)"""
filtered_df = merged_df2.query('is_parking == False & user_type == "student"').dropna().reset_index(drop=True)
filtered_df

,user_id,spot_id,spot_name,created_at,car,is_parking,user_type
0,140,224,ならファミリー,2023-04-01 10:49:00,iMiev02,False,student
1,140,224,ならファミリー,2023-04-01 11:24:00,iMiev02,False,student
2,140,576,センチュリー21フォステール奈良西大寺店,2023-04-01 11:35:00,iMiev02,False,student
3,140,576,センチュリー21フォステール奈良西大寺店,2023-04-01 12:36:00,iMiev02,False,student
4,140,576,センチュリー21フォステール奈良西大寺店,2023-04-01 13:12:00,iMiev02,False,student
...,...,...,...,...,...,...,...
4317,60,201,EV充電スタンド,2023-12-13 02:36:00,iMiev02,False,student
4318,60,315,メイプルリーフ薬局生駒店,2023-12-13 02:18:00,iMiev02,False,student
4319,60,315,メイプルリーフ薬局生駒店,2023-12-15 05:46:00,iMiev02,False,student
4320,133,919,おかだ歯科クリニック,2023-05-12 10:23:00,SAKURA,False,student
4321,133,377,ツーリスト企画 高の原営業所,2023-05-12 10:47:00,SAKURA,False,student

In [8]:
"""最も多くの目的地を訪れたユーザーのデータを抽出"""
most_used_user = filtered_df["user_id"].value_counts().index[0]
most_used_user_df = filtered_df.query('user_id == @most_used_user').reset_index(drop=True)
most_used_user_df

,user_id,spot_id,spot_name,created_at,car,is_parking,user_type
0,156,23,イオンモール奈良登美ヶ丘,2023-11-16 11:09:00,iMiev02,False,student
1,156,41,生鮮＆業務スーパーボトルワールドOK 押熊店,2023-11-09 10:30:00,iMiev01,False,student
2,156,41,生鮮＆業務スーパーボトルワールドOK 押熊店,2023-11-09 11:51:00,iMiev01,False,student
3,156,337,セブン-イレブン 生駒鹿畑町店,2023-04-03 23:29:00,iMiev01,False,student
4,156,337,セブン-イレブン 生駒鹿畑町店,2023-04-06 23:45:00,iMiev01,False,student
...,...,...,...,...,...,...,...
415,156,329,奈良西警察署 学園前交番,2023-11-22 00:39:00,iMiev02,False,student
416,156,733,大里会館,2023-09-29 11:57:00,iMiev02,False,student
417,156,733,大里会館,2023-09-29 12:58:00,iMiev02,False,student
418,156,384,WAY書店 TSUTAYA奈良押熊店,2023-09-30 00:17:00,iMiev01,False,student
419,156,540,花仙堂 精華店,2023-11-03 15:53:00,iMiev02,False,student

In [10]:
"""spot_nameを集計して、円グラフにする"""
import plotly.express as px
most_used_user_spot_df = most_used_user_df["spot_name"].value_counts().reset_index()
most_used_user_spot_df.columns = ["spot_name", "count"]
fig = px.pie(most_used_user_spot_df, values="count", names="spot_name", title="学生が訪れた目的地のランキング")
fig.update_traces(textposition='inside', textinfo='percent+label') 
fig.show()